.accordion {
  width: 100%;
}

.accordion-summary {
  color: #fff;
  background-color: #c70101;
}

.expand-icon {
  color: #fff;
}

.history-image-container {
  display: flex;
  img {
    width: 100%;
    height: auto;
    margin: auto;
  }
}