html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.content {
  width: 80%;
  margin: 0 auto;
  padding: 10px 20px 70px 20px;
  min-height: 800px;
}

.content-mobile {
  width: 100%;
  margin: 0 auto;
  padding: 10px 10px 70px 10px;
  min-height: 800px;
}

.content-wrap {
  margin: 0 auto;
  margin-top: 80px !important;
  flex: 1;
  width: 100%;
}

.page-container {
  display: flex;
  flex-direction: column;
}
