.card {
  padding: 10px;
  a {
    text-decoration: none !important;
  }
}

.card-media {
  height: 140px;
}

.news-actions {
  float: right;
  a {
    color: #fc4f4f;
    text-decoration: none;
  }
}

.news-item {
  border-radius: 0px;
}