.widget-container {
  text-align: center;
  width: 100%;
}

.widget-content {
  display: inline-block;
  position: relative;
  padding-top: 25px;
  width: 100%;
  max-width: 900px;
  height: 100%;
  iframe  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
